* {
  box-sizing: border-box;
}

html {
  margin: 80px;
  padding: 50px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: ;
}

.content{
  width: 100vw;
  height: 100vh;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.shape {
  margin: 30px;
  width: 200px;  
  height: 100px;
  background: #4FEE00;
}

.shape:hover {
  transform: rotateZ(405deg) scale(1.5);
  background: #FF18D5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(70deg);

  }
  100% {
    transform: rotate(360deg);

  }
}
@keyframes squiggle {
  0% {
    background: blue;
    transform:scale (1.0);
  }
  25% {
     background: blue;
    transform:scale (1.0);

  }
   90% {
    transform:scale( 1.7) rotateZ(44deg);
  }

}

.variation-1 {
  animation-name: squiggle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal ;
}

.variation-2 {
  animation-name: spin;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: normal ;
}

.variation-3 {
  animation-name: spin;
  animation-duration: 0.4s;
  animation-iteration-count: 4;
  animation-direction: reverse ;
}


